<%- include('../layouts/header.ejs')%>

<h1>Reset Password</h1>

<%
    if(typeof message!=='undefined'){
        %>
        <h3><%= message %></h3>
        <%
    }
%>

<form action="" method="POST">
    <input type="password"name="password"placeholder="Enter Password">
    <br><br>
    <input type="hidden"name="user_id" value="<%= user_id %>">
    <input type="submit" value="Reset Password">
</form>

<% include('../layouts/footer.ejs')%>